**/bin/
**/obj/
.vs/
artifacts/
TestResults/
/Data/
**/backup-settings.json
**/Uploads/
**/Logs/
**/Cache/
**/Packages/
*.user
*.suo
*.bak
*.log
*.zip
*.pfx
*.key
appsettings.Local.json
.env
**/publish/
/src/CompanySignage.Player/dist/
**/msix-staging/
**/__pycache__/
*.pdb
*.mdf
*.ldf
settings.json
*.db
*.db-shm
*.db-wal
*.sqlite*
